<h1>Aalto Spaces</h1>

<%= form_tag({controller: "spaces", action: "show"}, method: "get", id: 'searchbox', class: "nifty_form") do %>
	<%= label_tag(:name, "Search for a building or a room:") %>
	<%= text_field_tag(:name) %>
	<%= submit_tag "Search" %>
<% end %>

<div id="map" style="width: 600px; height: 480px;"></div>

All spaces in the database:
<% @spaces.each do |space| %>
	<br>
	<%= space.name %>
<% end %>


<script>
  
  $(document).ready(function(){
    var space = '<%= @space.to_json.html_safe %>';
    gmap_show(space);    // init show map for space card (only print marker)
  });

</script>