<h1>Aalto Spaces</h1>

<%= form_tag({controller: "buildings", action: "show"}, method: "get", class: "nifty_form") do %>
	<%= label_tag(:name, "Search for a building (later also rooms):") %>
	<%= text_field_tag(:name) %>
	<%= submit_tag("Search") %>
	
<% end %>

All buildings in the database:
	<% @buildings.each do |building| %>
	<%= building.name %>
	<%= building.lat %>
	<%= building.lng %>
	<% end %>